<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
            style="background-image: url('/img/bg_web.png'); height: 70vh; background-size: cover; background-position: center;">
            <div class="container position-relative">
                <div class="row d-flex">
                    <div class="col-lg-12 text-start">
                        <h1 id="text"
                            style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-weight: bold;">
                            <%= user.firstname_th || "" %>
                                <%= user.lastname_th || "" %>
                        </h1>
                        <h1 id="text"
                            style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-weight: bold;">
                            <%= user.firstname_en || "" %>
                                <%= user.lastname_en || "" %>
                        </h1>
                        <div class="text-dark p-4 rounded"
                            style="background-color: white; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); max-width: 800px;">
                            <p style="line-height: 1.6;">
                                <%= user.description_th || "" %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="text-center mt-4" style="color: #6f2c91; font-weight: bold;">ข้อมูลส่วนตัว</h2>
    </div>

    <div style="height: 5px; background-color: #d2acfc; width: 20%; margin: 20px auto;"></div>

    <div id="accordion" style="max-width: 1100px; margin: auto;">
        <div class="card mb-3" style="border: none; border-radius: 0;">
            <div class="card-header" id="headingOne" style="background-color: #6f2c91; color: white;">
                <h4 class="mb-0 d-flex justify-content-between align-items-center">
                    <button class="btn custom-btn" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne" style="color: white; font-weight: bold;">
                        ข้อมูลส่วนตัว
                    </button>
                    <span class="icon" style="font-family: 'Font Awesome 5 Free'; font-weight: 900;">&#xf107;</span>
                    <!-- ลูกศรลง -->
                </h4>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="background-color: #f3e8ff;">
                    <h4>
                        <%= user.prefix_th ? user.prefix_th + " " : "" %>
                            <%= user.firstname_th ? user.firstname_th + " " : "" %>
                                <%= user.lastname_th ? user.lastname_th : "" %>
                    </h4>

                    <p>
                        <%= user.description_en || "No description available." %>
                    </p>

                    <h4>
                        <%= user.expertise || "" %>
                    </h4>

                    <ul>
                        <% if (user.expertIns && user.expertIns.length> 0) { %>
                            <% user.expertIns.forEach(function(expertIn) { %>
                                <li>
                                    <%= expertIn %>
                                </li>
                                <% }); %>
                                    <% } else { %>
                                        <li>No expert insights available.</li>
                                        <% } %>
                    </ul>

                    <h4>Rewards</h4>

                    <ul>
                        <% if (user.rewards && user.rewards.length> 0) { %>
                            <% user.rewards.forEach(function(reward) { %>
                                <li>
                                    <%= reward %>
                                </li>
                                <% }); %>
                                    <% } else { %>
                                        <li>No rewards available.</li>
                                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="border: none; border-radius: 0;">
            <div class="card-header" id="headingTwo" style="background-color: #6f2c91; color: white;">
                <h4 class="mb-0 d-flex justify-content-between align-items-center">
                    <button class="btn custom-btn" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo" style="color: white; font-weight: bold;">
                        ประวัติการศึกษา
                    </button>
                    <span class="icon" style="font-family: 'Font Awesome 5 Free'; font-weight: 900;">&#xf107;</span>
                    <!-- ลูกศรลง -->
                </h4>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body" style="background-color: #f3e8ff;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ระดับ</th>
                                <th>ชื่อปริญญา (สาขาวิชา)</th>
                                <th>ชื่อสถาบัน</th>
                                <th>ปี พ.ศ. ที่จบ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.educations.forEach(function(education) { %>
                                <tr>
                                    <td>
                                        <%= education.level %>
                                    </td>
                                    <td>
                                        <%= education.degree %>
                                    </td>
                                    <td>
                                        <%= education.institution %>
                                    </td>
                                    <td>
                                        <%= education.graduationYear %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="border: none; border-radius: 0;">
            <div class="card-header" id="headingThree" style="background-color: #6f2c91; color: white;">
                <h4 class="mb-0 d-flex justify-content-between align-items-center">
                    <button class="btn custom-btn" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree" style="color: white; font-weight: bold;">
                        ประสบการณ์ทำงาน
                    </button>
                    <span class="icon" style="font-family: 'Font Awesome 5 Free'; font-weight: 900;">&#xf107;</span>
                    <!-- ลูกศรลง -->
                </h4>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body" style="background-color: #f3e8ff;">
                    <ul>
                        <% user.experiences.forEach(function(experience) { %>
                            <li>
                                <%= experience.startYear %> - <%= experience.endYear ? experience.endYear : "ปัจจุบัน"
                                        %>
                                        <%= experience.position %>
                                            <%= experience.institution %>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="border: none; border-radius: 0;">
            <div class="card-header" id="headingFour" style="background-color: #6f2c91; color: white;">
                <h4 class="mb-0 d-flex justify-content-between align-items-center">
                    <button class="btn custom-btn" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour" style="color: white; font-weight: bold;">
                        ผลงานวิจัย
                    </button>
                    <span class="icon" style="font-family: 'Font Awesome 5 Free'; font-weight: 900;">&#xf107;</span>
                    <!-- ลูกศรลง -->
                </h4>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body" style="background-color: #f3e8ff;">
                    ...
                </div>
            </div>
        </div>



        <!-- เพิ่มการเชื่อมโยง Bootstrap และ jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>

        <script>
            document.getElementById('editButton').onclick = function () {
                document.getElementById('editForm').style.display = 'block';
                document.getElementById('storyText').style.display = 'none';
                this.style.display = 'none';
            }
        </script>
</body>

</html>