<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CDN xxx-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Fixed Top Navbar?? -->
    <header id="header" class="header d-flex align-items-center fixed-top sticked"></header>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">Ngamnij Arch-int</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="ms-auto">
                    <ul class="navbar-nav">
                        <!-- เมนูภาษาไทย -->
                        <li class="nav-item ms-2">
                            <a class="nav-link <%= activePage === 'index' ? 'active' : '' %>" href="/">หน้าหลัก</a>
                        </li>
                        <li class="nav-item ms-2">
                            <a class="nav-link <%= activePage === 'project' ? 'active' : '' %>"
                                href="/project">งานวิจัยและโครงงาน</a>
                        </li>
                        <li class="nav-item ms-2">
                            <a class="nav-link <%= activePage === 'aboutme' ? 'active' : '' %>"
                                href="/aboutme">เกี่ยวกับเรา</a>
                        </li>
                        <li class="nav-item ms-2">
                            <a class="btn btn-primary <%= activePage === 'login' ? 'active' : '' %>"
                                href="#">เข้าสู่ระบบ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </header>

    <!-- Content to test scrolling -->
    <div class="container" style="margin-top: 100px;">
        <%- body %>
    </div>

    <div class="container">
        <footer>
            <p>© 2024 Ngamnij Arch-int. All rights reserved.</p>
        </footer>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>