<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CDN xxx-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Fixed Top Navbar?? -->
    <header id="header" class="header d-flex align-items-center fixed-top sticked">
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container-fluid mx-5">
                <!-- <a class="navbar-brand" href="#">Ngamnij Arch-int</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="ms-auto">
                        <ul class="navbar-nav">
                            <!-- เมนูภาษาไทย -->
                            <li class="nav-item ms-2">
                                <a class="nav-link <%= activePage === 'index' ? 'active' : '' %>" href="/">หน้าหลัก</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="nav-link <%= activePage === 'project' ? 'active' : '' %>"
                                    href="/project">งานวิจัยและโครงงาน</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="nav-link <%= activePage === 'aboutme' ? 'active' : '' %>"
                                    href="/aboutme">เกี่ยวกับเรา</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="btn btn-primary <%= activePage === 'login' ? 'active' : '' %>"
                                    href="#">เข้าสู่ระบบ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content to test scrolling -->
    <div class="content">
        <%- body %>
    </div>

    <!-- Footer -->
    <footer id="footer mt-5" class="footer">
        <div class="text-center">
            <div class="copyright">
                © Copyright <strong><span>Ngamnij Arch-int</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">Sorawit Phaiphan</a>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('scroll', ()=>{
            let navbar = document.getElementsByClassName('navbar')[0]
            if(window.screenY>56) {
                navbar.setAttribute('data-bs-theme', 'dark')
                navbar.classList.add('bg-dark')
            }else {
                navbar.setAttribute('data-bs-theme', null)
                navbar.classList.remove('bg-dark')
            }
        })
    </script>
</body>
</html>